body {
    background-color: #f8f9fa;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card {
    border: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-header {
    font-size: 1.5rem;
    text-align: center;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#paths-list {
    background-color: #ffffff;
}

.form-label {
    font-weight: 500;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.input-group .form-control {
    border-right: none;
}

.input-group .btn {
    border-left: none;
}

input[type="file"] {
    height: 38px;
    line-height: 1.5;
    border: 2px solid #007bff; /* Blue border color */
    background-color: #e9f7ff; /* Light blue background */
    color: #0056b3; /* Dark blue text */
    padding: 5px 10px;
    border-radius: 5px;
    transition: border-color 0.3s, background-color 0.3s;
}

input[type="file"]:hover {
    border-color: #0056b3; /* Darker blue border on hover */
    background-color: #d0efff; /* Slightly darker blue background on hover */
}

input[type="file"]:disabled {
    background-color: #f0f0f0; /* Light gray background for disabled input */
    border-color: #cccccc; /* Gray border for disabled input */
    color: #666666; /* Gray text for disabled input */
}

.form-check {
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

/* Styling the label and checkbox */
.form-check-label {
    flex: 1;
}

.form-check-input {
    margin-right: 10px;
}
